.App {
  text-align: center;
}
.SongList {
  
}
.SongList ul {
  padding: 0;

}
.SongList ul li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.SongList ul li button{
  width: 80px;
}