#burgerIcon {
     display: block;
     height: 100px;
     width: 100px;     
}
#home {
    background-color: cornflowerblue;
}
.red {
    background-color: red;
}
.grey {
    background-color: grey;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
#red {
    background-color: red;
}
#grey {
    background-color: grey;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
.button {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin: 2px;
    padding: 20px;
}
body {
    width: 400px;
    background-color: cornflowerblue;
}
#burgerList {
    display: none;
}