.Container {
  display: flex;
  justify-content: center;
}
nav{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
h2 {
  text-align: center;
}
nav h1{
  margin: 0;
}
.ShoppingCart{
  /* background-color: coral; */
}
.GroceryList{
  /* background-color: cornflowerblue;   */
}
.ListItem{
  display: flex;
  margin: 3px;
  border-style: solid;
  border-color: rgba(184, 181, 181, 0.541);
  border-width: 1px;
  border-radius: 4px;
}
.ListItem > *{
  margin: 5px;
  width: 100px;
  list-style-type: none;
  padding-left: 10px;
  font-size: 1em;
  font-weight: 600;
}
.GroceryList > .ListItem:nth-child(odd) {
  background: cornflowerblue;
}
.GroceryList > .ListItem:nth-child(even) {
  background: rgb(65, 97, 156);
}
.ShoppingCart > .ListItem:nth-child(odd) {
  background: coral;
}
.ShoppingCart > .ListItem:nth-child(even) {
  background: rgb(172, 84, 52);
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
